<div class="releases">
  <div class="animated fadeIn release-title ui segment">
    <h1>{{title}}</h1>
  </div>
  {{#if data}}
    <div class="animated fadeIn releases-grid">
      {{#each data as |release|}}
        <div class="release-panel ui segment">
          <h1 class="release-data release-title">{{release.title}}</h1>
          <h1 class="release-data days-left-data">{{release.humanReadable}}</h1>
          <h1 class="release-data release-deadline">{{release.deadline}}</h1>
        </div>
      {{/each}}
    </div>
  {{/if}}

  {{#if error}}
    {{{errorMessage}}}
  {{/if}}
</div>
