{{system-messages class="system-message"}}

{{!-- The following component displays Ember's default welcome message. --}}
<div class="grid">
  {{clock-panel class="clock"}}
  {{llama-panel class="llama"}}
  {{weather-panel class="weather-panel"}}
  {{issues-count class="issues"}}
  {{release-tracker class="releases"}}
</div>

{{outlet}}
